* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:#ccd6f6;
    background-color: #0a192f;
    font-family: sans-serif, Arial;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    position: fixed;
    z-index: 11;
    padding: 0px 40px;
}

.content_social_media {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #a8b2d1;
    padding: 5px;
}

.list_social_media {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    list-style: none;
}

.list_social_media::after {
    content: "";
    display: block;
    width: 3px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
}

a:hover {
    color: #f0e68c;
}

.list_social_media li {
    padding-bottom: 15px;
}

#logo {
    width: 50px;
    margin: 0px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    color: #ccd6f6;
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
}

#DivNav ol{
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.li_Style {
    padding: 10px 30px;
    margin: auto 10px;
    border: 2px solid khaki;
    border-radius: 10px;
    background-color: #0a192f;
    transition: 0.7s;
}

.li_Style:hover {
    background-color: #49462f;
}

main {
    width: 100%;
    margin: 0px auto;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
}

section {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 150px 0px;
    max-width: 1000px;
}

h1 {
    color: khaki;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 30px 4px;
}

.name h2 {
    font-size: 80px;
}

h2 {
    font-family: sans-serif, Arial;
    font-size: 32px;
    display: inline;
    color: #ccd6f6;
    margin: 10px 0px 40px;
}

h3 {
    color: #8892b0;
    font-size: 80px;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

.intro {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    max-width: 500px;
    margin: 20px 0px 0px;
    color: #8892b0;
    line-height: 1.3;
}

.yo {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about_me_title {
    margin: 10px 0px 40px;
}

.about_me a {
    color: khaki;
}

.about_me a:hover {
    text-decoration: underline;
}

.about_me {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #8892b0;
}

.about_me ul {
    margin: 20px 0px 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
}

.about_me li::before {
    content: "▹ ";
    color: khaki;
}

span {
    font-size: 30px;
    color: khaki;
    font-family: 'Roboto Mono', monospace;
}

.about_me p {
    margin: 0px 0px 20px;
}

.photo_me {
    position: relative;
    max-width: 300px;
    height: 300px;
}

.top_img {
    position: absolute;
    left: 20px;
    top: 50px;
    width: 300px;
    height: 300px;
    background-color: #f0e68c70;
    border-radius: 5px;
    transition-duration: 1s;
}

.top_img:hover {
    background-color: #f0e68c00;
}

.border_img {
    position: absolute;
    left: 40px;
    top: 70px;
    width: 300px;
    height: 300px;
    border: 2px solid khaki;
    border-radius: 5px;
    transition-duration: 1s;
}

.photo_me img {
    position: absolute;
    left: 20px;
    top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.photo_me img::before, .photo_me img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    border: 2px solid khaki;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.project_ver_1 {
    margin-bottom: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    -webkit-box-align: center;
}

.title_projects {
    margin: 10px 0px 40px;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.title_projects::before {
    content: ">_";
    color: khaki;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.title_projects::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.project_ver_1 .project_content {
    grid-column: 7 / -1;
    text-align: right;
    z-index: 1;
}

.project_content {
    grid-area: 1 / 1 / -1 / 7;
}

.overline_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: khaki;
    margin: 10px 0px;
}

.project_title {
    font-size: 28px;
    color: #ccd6f6;
    margin: 0px 0px 20px;
}

.project_description {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 18px;
}

.project_description p {
    line-height: 25px;
    font-size: 16px;
}

.project_ver_1 ul {
    justify-content: flex-end;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.project_ver_1 li {
    margin: 0px 0px 5px 20px;
    color: #a8b2d1;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    white-space: nowrap;
}

.project_links {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    color: #ccd6f6;
    display: flex;
    justify-content: flex-end;
}

.project_links a {
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    padding: 10px;
}

.project_ver_1 .project_img {
    grid-column: 1 / 8;
}

.project_ver_1 .project_img a {
    width: 100%;
    background-color: khaki;
    border-radius: 4px;
    vertical-align: middle;
}

.project_img {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
}

.project_img img {
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.bunker_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 62.2857%;
}

.bunker_img .top_img_project {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0e68c70;
    border-radius: 5px;
    transition-duration: 1s;
}

.bunker_img .top_img_project:hover {
    background-color: #f0e68c00;
}

.project_ver_2 {
    margin-bottom: 100px;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    -webkit-box-align: center;
}

.project_ver_2 .project_content {
    grid-column: 1 / 7;
    text-align: left;
    z-index: 1;
}

.project_ver_2 ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.project_ver_2 li {
    margin: 0px 20px 5px 0px;
    color: #a8b2d1;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    white-space: nowrap;
}

.project_ver_2 .project_img a {
    width: 100%;
    background-color: khaki;
    border-radius: 4px;
    vertical-align: middle;
}

.project_links_ver2 {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    color: #ccd6f6;
    display: flex;
}

.project_links_ver2 a {
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    padding: 10px;
}

#contact {
    min-height: 0;
    align-items: center;
}

#contact h1 {
    margin: 10px 0px;
}

#contact p {
    margin: 10px 0px;
}


@media  (max-width: 768px){
    header {
        display: none;
    }
    main {
        padding: 0 40px;
    }
    .photo_me {
        margin: 0 auto;
    }
    .list_social_media {
        display: none;
    }
    .yo {
        display: block;
    }
    .bunker_img .top_img_project {
        background-color: #1f1c05a8;
    }
    .project_ver_1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .project_ver_2 .project_content {
        grid-column: -2 / 1;
        margin-left: 10px;
    }
    .project_ver_2 .project_img {
        grid-area: 1 / 1 / -1 / -1;
    }
}